<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/contacts.css">
</head>
<body>
<div class="main-wrapper-contacts">
    <div class="contacts-all-content">
    <h2 class="h2-contacts">Контакти</h2>
    <div class="contacts-content">
            <div class="text-contacts">
                <p class="company-description">Компанія "Міловід" пропонує виготовлення і встановлення різних видів жалюзі, захисних ролетів, гаражних
                воріт москітних сіток, вікон та дверей ПВХ, рефлексороллів, маркізів, ремонт жалюзі.</p>
                <div class="contacts-str">
                    <div class="contacts-element">
                        <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
                        <div class="description-contacts">
                            <p class="contacts-header">Адреса</p>
                            <p class="description-contacts-description">м. Черкаси, бул. Шевченка, 145, офіс 117 (1-ий поверх)</p>
                        </div>
                    </div>
                    <div class="contacts-element">
                        <i class="far fa-clock" aria-hidden="true"></i>
                        <div class="description-contacts">
                            <p class="contacts-header">Графік роботи</p>
                            <p class="description-contacts-description">пн-пт: 9-00 - 18-00</p>
                        </div>
                    </div>
                </div>
                <div class="contacts-str">
                    <div class="contacts-element">
                        <i class="fas fa-phone"></i>
                        <div class="description-contacts">
                            <p class="contacts-header">Телефони</p>
                            <p class="description-contacts-description">(0472) 383-819, (0472) 382-117</p>
                            <p class="description-contacts-description">(067) 239-6114, (093) 336-5793</p>
                        </div>
                    </div>
                    <div class="contacts-element">
                        <i class="fas fa-envelope"></i>
                        <div class="description-contacts">
                            <p class="contacts-header">Електронна пошта</p>
                            <p class="description-contacts-description">milovid@ukr.net</p>
                        </div>
                    </div>
                </div>
                <div class="contacts-str">
                    <div class="contacts-element">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                            <use href="../image/viber_1-01.svg#Шар_1" width="16" height="16"></use>
                        </svg>
                        <div class="description-contacts">
                            <p class="contacts-header">Viber</p>
                            <p class="description-contacts-description">(093) 336-5793</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-contacts">
                <p class="form-description">Будь ласка, залишіть Ваші контакти і Ваше питання, ми з Вами зв'яжемось!</p>
                <form method="post" class="form-contacts" action="https://postman-echo.com/post">
                    <p class="hint-form"><span>*</span> - поля обов'язкові для заповнення</p>
                    <input type="text" placeholder="* Ваше ім'я" name="name">
                    <input type="email" placeholder="* E-mail" name="email">
                    <input type="tel" placeholder="* Телефон" name="phone">
                    <input type="text" placeholder="* Ваш вопрос" name="question">
                    <button type="submit">Надіслати</button>
                </form>
            </div>
    </div>
</div></div>
</body>
</html>
