<footer>
		<div class="fot_container">
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d917.0811247748902!2d32.05223493963703!3d49.44866127886595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d14c84944cee9f%3A0xadd4e3e0137247dc!2z0LHRg9C7LiDQqNC10LLRh9C10L3QutC-LCAxNDUsINCn0LXRgNC60LDRgdGB0YssINCn0LXRgNC60LDRgdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAxODAwMA!5e0!3m2!1sru!2sua!4v1544290995186" width="380" height="410" frameborder="0" style="border:0" allowfullscreen>
				</iframe>
			</div>
			<div class="contacts" >
				<h5>
					Мы подберем самое лучшее <br>
					решение именно для вас
				</h5>
				<ul>
					<li>
						<a href="#">
							<div class="cont_img">
								<img src="image/map_foot.png" alt="map">
							</div>
						</a>
						г. Черкассы, бул.Шевченка, 145,<br>
						офис 117, (1 -й этаж)
					</li>
					<li>
						<a href="#">
							<div class="cont_img">
								<img src="image/time.png" alt="time">
							</div>
						</a>
						пн-пт: 9-00 – 18-00
					</li>
					<li>
						<a href="#">
							<div class="cont_img">
								<img src="image/phone_foot.png" alt="phone">
							</div>
						</a>
						<div class="wrapper">
							<a href="tel: +380472382117">(0472) 382-117</a><br>
							<a href="tel: +380672396114">(067) 239-6114</a><br>
							<a href="tel: +380933365793">(093) 336-5793</a><br>
						</div>
					</li>
					<li>
						<a href="#">
							<div class="cont_img">
								<img src="image/viber_1-01.svg" alt="viber">
							</div>
						</a>
						Viber
					</li>
					<li>
						<a href="#">
							<div class="cont_img">
								<img src="image/mail_foot.png" alt="mail">
							</div>
						</a>
						milovid@ukr.net
					</li>
				</ul>
			</div>
			<div class="forms">
				<h5>
				Пожалуйста, оставьте свои контакты<br>
				и ваш вопрос, мы с вами свяжемся!
				</h5>
				<div class="right_cont">
					<span>*</span> – поля обязательные для заполнения 
				</div>
				<form action="">
					<span>*</span>
					<input type="text" name="name" placeholder="Ваше имя" maxlength="50" required><br>
					<span>*</span>
					<input type="email" name="mail" placeholder="E-mail" maxlength="50" required><br>
					<span>*</span>
					<input type="tel" name="phone" value="+38 " required maxlength="14"><br>
					<textarea name="text"placeholder="Ваш вопрос" maxlength="250" ></textarea>
					<div class="right_cont">
						<input type="submit" value="Отправить">
					</div>
				</form>
			</div>
		</div>
		<div class="bottom_container">
			<div class="unicode_st">
				<div class="footer_title">
					<img src="image/logo_milovid.png" alt="logo">
					<div class="wrapper">
						<h5>Миловид</h5>
						<h6>Изготовление и установка разных видов жалюзи, защитных роллет, гаражных ворот, москитных сеток, окна и двери ПВХ, рефлексоролы, маркизы, ремонт жалюзи.</h6>
					</div>
				</div>
				
				<div class="copyright">
					Copyright © 2015-2018. Миловид
				</div>
				
			</div>
		</div>
	</footer>