<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <title>Наша робота</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/portfolio.css">
    <script src="../js/slides-portfolio.js"></script>
</head>
<body>
    <div class="wrapper-portfolio">
        <div class="menu-portfolio">
            <h3>Наші роботи</h3>
            <a>Ролові штори</a>
            <a>Горизонтальні жалюзі</a>
            <a>Вертикальні жалюзі</a>
            <a>Пліссе</a>
            <a>Римські штори</a>
            <a>Бамбукові штори</a>
            <a>Антимоскітні сітки</a>
            <a>Ролети захисні</a>
            <a>Вікна та двері ПВХ</a>
        </div>
        <div class="portfolio-galerry">
            <h2>Наші роботи</h2>
            <h3>Відео</h3>
            <iframe width="870" height="488"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
            <h3>Фотогалерея</h3>
            <!-- 11111111111111111111111111111 -->
            <div class="gallery-potfolio">
                <img src="../image/anti_mos/IMG_2396.JPG" alt="ANTI MOSQUITO">
                <img src="../image/anti_mos/IMG_2397.JPG" alt="ANTI MOSQUITO">
                <img src="../image/anti_mos/IMG_2402.JPG" alt="ANTI MOSQUITO">
                <img src="../image/bamb/Hgn1JNi.jpeg" alt="BAMBOO">
                <img src="../image/bamb/maitvCk.jpeg" alt="BAMBOO">
                <img src="../image/bamb/Изображение%20003.jpg" alt="BAMBOO">
                <img src="../image/bamb/Изображение%20005.jpg" alt="BAMBOO">
                <img src="../image/bamb/Изображение%20009.jpg" alt="BAMBOO">
                <img src="../image/bamb/Изображение%20013.jpg" alt="BAMBOO"> <!-- 9 -->
                <img src="../image/gorizont/1K3Komv.jpeg" alt="GORIZONTAL">
                <img src="../image/gorizont/5KyaU8u.jpeg" alt="GORIZONTAL">
                <img src="../image/gorizont/a351GeY.jpeg" alt="GORIZONTAL">
                <img src="../image/gorizont/EGaCWOw.jpeg" alt="GORIZONTAL">
                <img src="../image/gorizont/FmIc5QI.jpeg" alt="GORIZONTAL"> <!-- 14 -->
                <img src="../image/gorizont/GRpAscJ.jpeg" alt="GORIZONTAL">
                <img src="../image/gorizont/hk1Hg0n.jpeg" alt="GORIZONTAL">
                <img src="../image/gorizont/jSzuBkg.jpeg" alt="GORIZONTAL">
                <img src="../image/gorizont/xe7d1FU.jpeg" alt="GORIZONTAL"> <!-- 18 -->
                <img src="../image/okna_dveri/2ph-DQDm6bE.jpg" alt="WINDOWS and DOORS">
                <img src="../image/okna_dveri/G6CLgT2asxM.jpg" alt="WINDOWS and DOORS">
                <img src="../image/okna_dveri/JdCl7BW3a40.jpg" alt="WINDOWS and DOORS">
                <img src="../image/okna_dveri/lehQBpbLsNo.jpg" alt="WINDOWS and DOORS"> <!-- 22 -->
                <img src="../image/plisse/bqvIaNH.jpeg" alt="PLISSE">
                <img src="../image/plisse/FSKqJ8a.jpeg" alt="PLISSE">
            </div>
            <!-- 2222222222222222222222222222 -->
            <div class="gallery-potfolio" style="display: none;">
                <img src="../image/rimskie/05.jpg" alt="ROMAN">
                <img src="../image/rimskie/75874.jpeg" alt="ROMAN">
                <img src="../image/rimskie/450877.jpeg" alt="ROMAN"> <!-- 3 -->
                <img src="../image/rimskie/алле.jpg" alt="ROMAN">
                <img src="../image/rol_shtoru/universal/0fycd69.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/universal/9anfwig.jpeg" alt="roleCurtains"> <!-- 6 -->
                <img src="../image/rol_shtoru/universal/AnXPQb8.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/universal/jP3B2oR.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/universal/JQ7iAMU.jpeg" alt="roleCurtains"> <!-- 9 -->
                <img src="../image/rol_shtoru/universal/nhXCrKy.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/universal/ptda5UC.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/universal/QOkQ9PB.jpeg" alt="roleCurtains"> <!-- 12 -->
                <img src="../image/rol_shtoru/universal/RCvaEzA.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/universal/STDVtlQ.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/universal/THnfAQA.jpeg" alt="roleCurtains"> <!-- 15 -->
                <img src="../image/rol_shtoru/universal/vt5q288.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/universal/xcKruEh.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/universal/zB4g0CM.jpeg" alt="roleCurtains"> <!-- 18 -->
                <img src="../image/rol_shtoru/1OIjh87.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/3TVFHTX.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/92cc0qC.jpeg" alt="roleCurtains"> <!-- 21 -->
                <img src="../image/rol_shtoru/ANq41qf.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/CVHQxtu.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/d1biloH.jpeg" alt="roleCurtains">
            </div>
            <!-- 333333333333333333333333333 -->
            <div class="gallery-potfolio" style="display: none;">
                <img src="../image/rol_shtoru/EP7DSkl.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/M13cEGG.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/MjExUVx.jpeg" alt="roleCurtains"> <!-- 3 -->
                <img src="../image/rol_shtoru/MnhfTtj.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/nfRI11Y.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/t1lvWuV.jpeg" alt="roleCurtains"> <!-- 6 -->
                <img src="../image/rol_shtoru/ufLdwM4.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/vpDoVit.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/Xf99P5u.jpeg" alt="roleCurtains"> <!-- 9 -->
                <img src="../image/rol_shtoru/xH6JyKt.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/ymukm40.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/zD8eYrD.jpeg" alt="roleCurtains">
                <img src="../image/rol_shtoru/ZpEnmn7.jpeg" alt="roleCurtains"> <!-- 13 -->
                <img src="../image/rolletu/4FaN3YD5FCU.jpg" alt="rollerShutters">
                <img src="../image/rolletu/Di08GnD0Xp0.jpg" alt="rollerShutters">
                <img src="../image/rolletu/r7_XyZgzuDA.jpg" alt="rollerShutters"> <!-- 16 -->
                <img src="../image/vertical/9WPiIKY.jpeg" alt="VERTICAL">
                <img src="../image/vertical/AasvNID.jpeg" alt="VERTICAL">
                <img src="../image/vertical/CWk9tF2.jpeg" alt="VERTICAL">
                <img src="../image/vertical/e4DUh9p.jpeg" alt="VERTICAL"> <!-- 20 -->
                <img src="../image/vertical/ecsys5o.jpeg" alt="VERTICAL">
                <img src="../image/vertical/GuufvFe.jpeg" alt="VERTICAL">
                <img src="../image/vertical/k2WmtE6.jpeg" alt="VERTICAL">
                <img src="../image/vertical/Mkx9YOq.jpeg" alt="VERTICAL">
            </div>

            <div class="switch-gallery">
                <button onclick="plusDivs(-1)"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                <div class="selected-page-gallery" style="background-color: #f2f3f9; color: #000000;">1</div>
                <div class="selected-page-gallery">2</div>
                <div class="selected-page-gallery">3</div>
                <button onclick="plusDivs(+1)"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>

    <div style="padding-top: 100px;"></div>
</body>
</html>
