<!DOCTYPE html>
<html lang="rus">
<head>
	<meta charset="UTF-8">
	<title>Molovid</title>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="../style/reset.css">
	<link rel="stylesheet" href="../style/main.css">
	<link rel="stylesheet" href="../style/header.css">
	<link rel="stylesheet" href="../style/footer.css">
	<link rel="stylesheet" href="../style/production.css">
	<script src="../js/jquery-3.3.1.min.js"></script>
	<script src="../js/main.js"></script>
</head>
<body>
	<section class="production">
		<div class="wrap_prod">
			<div class="nav_left">
				<h4>Роловые шторы</h4>
				<ul class="nav_item">	
						<li><a onclick="showUniversal()">День-ночь</a></li>
						<li><a onclick="showOpen()">Открытого типа</a></li>
						<li><a onclick="showClose()">Закрытого типа</a></li>
				</ul>
			</div>
			<div class="main_prod">
				<h5>Роловые шторы</h5>
				<div class="title">
					<p>
						Роловые шторы  предствляют собой тканевое полотно, наматывающееся на расположенный сверху горизонтальный вал. Подъем полотна может осуществляться как вручную, с помощью цепочного механизма или пружины, так и с помощью электропривода.
					</p>
					<p>
						Роловые шторы дают новые возможности в оформлении дизайна любых помещений -возможность придать офису или квартире неповторимость и оригинальность. Ваше окно будет выглядеть стильно.
					</p>
					<p>
						Роловые шторы защитят Вашу квартиру от посторонних взглядов с улицы и от попадания прямых солнечных лучей.Мы производим несколько систем роловых штор, разнообразных по дизайну, цвету, фактуре ткани. Состав тканей – хлопок, полиэстер , лен. Ткани пропитаны пылеотталкивающими , противовыгораемыми , противосминающими, водоотталкивающими пропитками а также ультратонкое покрытие с изнаночной стороны по технологии ламинирования полностью отбивает солнечные лучи. Основная функция роловых штор – светозащита.
					</p>
					<p>
						Сегодня большим спросом пользуются шторы  «День-ночь» - это новая разновидность системы роловой шторы.
					</p>
					<p>
						Оригинальное решение защиты помещения от солнца - круговое движение ткани и чередование полос в ней - обеспечивает плавно регулировать степень освещенности в помещении.
					</p>
				</div>
				<div class="wrap_card">
					<div class="card">
						<a href="#">
							<img src="../image/rol_shtoru/universal/JQ7iAMU.jpeg" alt="">
							<div class="bottom_wrap_roll">
								День-ночь
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="../image/rol_shtoru/open/открытого.jpeg" alt="">
							<div class="bottom_wrap_roll">
								Открытого типа
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="../image/rol_shtoru/close/д-н_закрытого.jpg" alt="">
							<div class="bottom_wrap_roll">
								Закрытого типа
							</div>
						</a>
					</div>
				</div>
			</div>	
		</div>
		<div class="wrap_prod" id="showUniversal" style="display: none;">
			<div class="nav_left">
				<h4>Роловые шторы</h4>
				<ul class="nav_item">	
						<li><a onclick="showUniversal()">День-ночь</a></li>
						<li><a onclick="showOpen()">Открытого типа</a></li>
						<li><a onclick="showClose()">Закрытого типа</a></li>
				</ul>
			</div>
			<div class="main_prod">
			<h5>День-ночь</h5>
			<div class="title">
				<p>
					Сегодня большим спросом пользуются шторы  «День-ночь» - это новая разновидность системы роловой шторы. ригинальное решение защиты помещения от солнца - круговое движение ткани и чередование полос в ней - обеспечивает плавно регулировать степень освещенности в помещении.
				</p>
				<p>
					Роловые шторы защитят Вашу квартиру от посторонних взглядов с улицы и от попадания прямых солнечных лучей.Мы производим несколько систем роловых штор, разнообразных по дизайну, цвету, фактуре ткани. Состав тканей – хлопок, полиэстер , лен. Ткани пропитаны пылеотталкивающими , противовыгораемыми , противосминающими, водоотталкивающими пропитками а также ультратонкое покрытие с изнаночной стороны по технологии ламинирования полностью отбивает солнечные лучи. Основная функция роловых штор – светозащита. 
				</p>
			</div>
			<div class="wrap_card">
				<div class="card">
					<a href="production_l2.html">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/universal/JQ7iAMU.jpeg" alt="roll_shtoru">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img" src="../image/rol_shtoru/universal/THnfAQA.jpeg" alt="roll_shtoru">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img" src="../image/rol_shtoru/universal/QOkQ9PB.jpeg" alt="roll_shtoru">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img" src="../image/rol_shtoru/universal/9anfwig.jpeg" alt="roll_shtoru">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img" src="../image/rol_shtoru/universal/AnXPQb8.jpeg" alt="roll_shtoru">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img" src="../image/rol_shtoru/universal/jP3B2oR.jpeg" alt="roll_shtoru">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img" src="../image/rol_shtoru/universal/ptda5UC.jpeg" alt="roll_shtoru">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img" src="../image/rol_shtoru/universal/STDVtlQ.jpeg" alt="roll_shtoru">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img" src="../image/rol_shtoru/universal/xcKruEh.jpeg" alt="roll_shtoru">
						</div>
					</a>
				</div>
			</div>
			</div>
		</div>
		<div class="wrap_prod" id="showOpen" style="display: none;">
			<div class="nav_left">
				<h4>Роловые шторы</h4>
				<ul class="nav_item">	
						<li><a onclick="showUniversal()">День-ночь</a></li>
						<li><a onclick="showOpen()">Открытого типа</a></li>
						<li><a onclick="showClose()">Закрытого типа</a></li>
				</ul>
			</div>
			<div class="main_prod">
			<h5>Открытого типа</h5>
			<div class="title">
				<p>
					Открытые рулонные жалюзи – это видный невооруженным глазом вал с намотанной тканью. Конструктивно нижняя планка фиксируется к створке при помощи мощных магнитов. Механизм всего устройства не прикрыт, отсюда и характерное название.
				</p>
			</div>
			<div class="wrap_card">
				<div class="card">
					<a href="production_l2.html">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/open/открытого.jpeg" alt="">
						</div>

					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/open/открытого.jpeg" alt="">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/open/открытого.jpeg" alt="">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/open/открытого.jpeg" alt="">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/open/открытого.jpeg" alt="">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/open/открытого.jpeg" alt="">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/open/открытого.jpeg" alt="">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/open/открытого.jpeg" alt="">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/open/открытого.jpeg" alt="">
						</div>
					</a>
				</div>
				</div>
			</div>
		</div>
		<div class="wrap_prod" id="showClose" style="display: none;">
			<div class="nav_left">
				<h4>Роловые шторы</h4>
				<ul class="nav_item">	
						<li><a onclick="showUniversal()">День-ночь</a></li>
						<li><a onclick="showOpen()">Открытого типа</a></li>
						<li><a onclick="showClose()">Закрытого типа</a></li>
				</ul>
			</div>
			<div class="main_prod">
			<h5>Закрытого типа</h5>
			<div class="title">
				<p>
					Закрытая система Наличие короба меняет внешний вид конструкции, делает ее обтекаемой и более презентабельной в общем интерьере помещения. Это закрытые рулонные жалюзи, которые по обеим сторонам полотна имеют направляющие. Присутствие короба отвлекает от вида вала, на ткань не садится пыль, продлевая тем самым срок службы этой современной занавески. Если сочетаются в цвете и текстуре классические и роликовые шторы, на окне они имеют вид цельного готового изделия.
				</p>
			</div>
			<div class="wrap_card">
				<div class="card">
					<a href="production_l2.html">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/close/д-н_закрытого.jpg" alt="">
						</div>

					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/close/д-н_закрытого.jpg" alt="">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/close/д-н_закрытого.jpg" alt="">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/close/д-н_закрытого.jpg" alt="">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/close/д-н_закрытого.jpg" alt="">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/close/д-н_закрытого.jpg" alt="">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/close/д-н_закрытого.jpg" alt="">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/close/д-н_закрытого.jpg" alt="">
						</div>
					</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="black_bg">
							<img id="img"  src="../image/rol_shtoru/close/д-н_закрытого.jpg" alt="">
						</div>
					</a>
				</div>
				</div>
			</div>
			</div>
		</div>
	</section>
</body>
</html>