<!DOCTYPE html>
<html lang="rus">
<head>
	<meta charset="UTF-8">
	<title>Molovid</title>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="../style/reset.css">
	<link rel="stylesheet" href="../style/main.css">
	<link rel="stylesheet" href="../style/header.css">
	<link rel="stylesheet" href="../style/footer.css">
	<link rel="stylesheet" href="../style/production.css">
	<script src="../js/jquery-3.3.1.min.js"></script>
</head>
<body>
	<section class="production">
		<div class="wrap_prod">
			<div class="nav_left">
				<h4>Продукция</h4>
			<ul class="nav_item">	
					<li><a href="#">Роловые шторы</a></li>
					<li><a href="#">Горизонтальные жалюзи</a></li>
					<li><a href="#">Вертикальные жалюзи</a></li>
					<li><a href="#">Плиссе</a></li>
					<li><a href="#">Римские шторы </a></li>
					<li><a href="#">Бамбуковые шторы</a></li>
					<li><a href="#">Антимоскитные сетки</a></li>
					<li><a href="#">Ролеты защитные</a> </li>
					<li><a href="#">Окна и двери ПВХ</a></li>
			</ul>
			</div>
			<div class="main_prod">
				<h5>Продукция</h5>
				<div class="title">
					Мы предлагаем изготовление и установку разных видов жалюзи, защитных роллетов, гаражных ворот, москитных сеток, окон и дверей ПВХ, рефлексороллов, маркизов, ремонт жалюзи.
				</div>
				<div class="wrap_card">
					<div class="card">
						<a href="#">
							<img src="../image/rol_shtoru/ymukm40.jpeg" alt="">
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Роловые шторы
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="../image/gorizont/xe7d1FU.jpeg" alt="">
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Горизонтальные жалюзи
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="../image/vertical/GuufvFe.jpeg" alt="">
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Вертикальные жалюзи
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="../image/plisse/pDBHKIn.jpeg" alt="">
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Плиссе
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="../image/rimskie/450877.jpeg" alt="">
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Римские шторы
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="../image/bamb/maitvCk.jpeg" alt="">
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Бамбуковые шторы
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="../image/anti_mos/kAaHDdV.jpeg" alt="">
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Антимоскитные сетки
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="../image/rolletu/Di08GnD0Xp0.jpg" alt="">
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Ролеты защитные
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="../image/okna_dveri/JdCl7BW3a40.jpg" alt="">
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Окна и двери ПВХ
							</div>
						</a>
					</div>
				</div>
				<div class="remont_prod">
					<img src="../image/remont_prod.png" alt="">
					<div class="text">
						<div class="text_title">
							Ремонт жалюзи всех видов, замена деталей
						</div>
						<div class="text_text">
							Наши специалисты профессионально и оперативно подберут все необходимые детали и выполнят ремонт жалюзи любой сложности. 
						</div>
						<div class="text_rem">
							Нужен ремонт жалюзи? Звоните нам и мы поможем!
						</div>
						<div class="text_contact">
							(0472) 382-117    (067) 239-6114    (093) 336-5793 
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>