<!DOCTYPE html>
<html lang="rus">
<head>
	<meta charset="UTF-8">
	<title>Molovid</title>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="../style/reset.css">
	<link rel="stylesheet" href="../style/main.css">
	<link rel="stylesheet" href="../style/header.css">
	<link rel="stylesheet" href="../style/footer.css">
	<link rel="stylesheet" href="../style/production.css">
	<script src="../js/jquery-3.3.1.min.js"></script>
</head>
<body>
	<section class="production">
		<div class="wrap_prod">
			<div class="nav_left">
				<h4>Продукция</h4>
				<ul class="nav_item">	
						<li><a href="#">Роловые шторы</a></li>
						<li><a href="#">Горизонтальные жалюзи</a></li>
						<li><a href="#">Вертикальные жалюзи</a></li>
						<li><a href="#">Плиссе</a></li>
						<li><a href="#">Римские шторы </a></li>
						<li><a href="#">Бамбуковые шторы</a></li>
						<li><a href="#">Антимоскитные сетки</a></li>
						<li><a href="#">Ролеты защитные</a> </li>
						<li><a href="#">Окна и двери ПВХ</a></li>
				</ul>
			</div>
			<div class="main_prod">
				<h5>Продукция</h5>
				<div class="title">
					Мы предлагаем изготовление и установку разных видов жалюзи, защитных роллетов, гаражных ворот, москитных сеток, окон и дверей ПВХ, рефлексороллов, маркизов, ремонт жалюзи.
				</div>
				<div class="wrap_card">
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img"  src="../image/rol_shtoru/ymukm40.jpeg" alt="">
							</div>
							
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Роловые шторы
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/gorizont/xe7d1FU.jpeg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Горизонтальные жалюзи
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/vertical/GuufvFe.jpeg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Вертикальные жалюзи
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/plisse/pDBHKIn.jpeg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Плиссе
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rimskie/450877.jpeg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Римские шторы
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/bamb/maitvCk.jpeg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Бамбуковые шторы
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/anti_mos/kAaHDdV.jpeg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Антимоскитные сетки
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rolletu/Di08GnD0Xp0.jpg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Ролеты защитные
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/okna_dveri/JdCl7BW3a40.jpg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Окна и двери ПВХ
							</div>
						</a>
					</div>
				</div>
				<div class="remont_prod">
					<img src="../image/remont_prod.png" alt="">

					<div class="text">
						<div class="text_title">
							Ремонт жалюзи всех видов, замена деталей
						</div>
						<div class="text_text">
							Наши специалисты профессионально и оперативно подберут все необходимые детали и выполнят ремонт жалюзи любой сложности. 
						</div>
						<div class="text_rem">
							Нужен ремонт жалюзи? Звоните нам и мы поможем!
						</div>
						<div class="text_contact">
							(0472) 382-117    (067) 239-6114    (093) 336-5793 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap_prod">
			<div class="nav_left">
				<h4>Роловые шторы</h4>
				<ul class="nav_item">	
						<li><a href="#">День-ночь</a></li>
						<li><a href="#">Открытого типа</a></li>
						<li><a href="#">Закрытого типа</a></li>
				</ul>
			</div>
			<div class="main_prod">
				<h5>Роловые шторы</h5>
				<div class="title">
					<p>
						Роловые шторы  предствляют собой тканевое полотно, наматывающееся на расположенный сверху горизонтальный вал. Подъем полотна может осуществляться как вручную, с помощью цепочного механизма или пружины, так и с помощью электропривода.
					</p>
					<p>
						Роловые шторы дают новые возможности в оформлении дизайна любых помещений -возможность придать офису или квартире неповторимость и оригинальность. Ваше окно будет выглядеть стильно.
					</p>
					<p>
						Роловые шторы защитят Вашу квартиру от посторонних взглядов с улицы и от попадания прямых солнечных лучей.Мы производим несколько систем роловых штор, разнообразных по дизайну, цвету, фактуре ткани. Состав тканей – хлопок, полиэстер , лен. Ткани пропитаны пылеотталкивающими , противовыгораемыми , противосминающими, водоотталкивающими пропитками а также ультратонкое покрытие с изнаночной стороны по технологии ламинирования полностью отбивает солнечные лучи. Основная функция роловых штор – светозащита.
					</p>
					<p>
						Сегодня большим спросом пользуются шторы  «День-ночь» - это новая разновидность системы роловой шторы.
					</p>
					<p>
						Оригинальное решение защиты помещения от солнца - круговое движение ткани и чередование полос в ней - обеспечивает плавно регулировать степень освещенности в помещении.
					</p>
				</div>
				<div class="wrap_card">
					<div class="card">
						<a href="#">
							<img src="../image/rol_shtoru/universal/JQ7iAMU.jpeg" alt="">
							<div class="bottom_wrap_roll">
								День-ночь
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="../image/rol_shtoru/open/открытого.jpeg" alt="">
							<div class="bottom_wrap_roll">
								Открытого типа
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="../image/rol_shtoru/close/д-н_закрытого.jpg" alt="">
							<div class="bottom_wrap_roll">
								Закрытого типа
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>