<!DOCTYPE html>
<html lang="rus">
<head>
	<meta charset="UTF-8">
	<title>Molovid</title>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="../style/reset.css">
	<link rel="stylesheet" href="../style/main.css">
	<link rel="stylesheet" href="../style/header.css">
	<link rel="stylesheet" href="../style/footer.css">
	<link rel="stylesheet" href="../style/production.css">
	<script src="../js/jquery-3.3.1.min.js"></script>
</head>
<body>
	<section class="production">
		<div class="wrap_prod">
			<div class="nav_left">
				<h4>Продукция</h4>
				<ul class="nav_item">	
						<li><a href="production_l2.html">Роловые шторы</a></li>
						<li><a href="#">Горизонтальные жалюзи</a></li>
						<li><a href="#">Вертикальные жалюзи</a></li>
						<li><a href="#">Плиссе</a></li>
						<li><a href="#">Римские шторы </a></li>
						<li><a href="#">Бамбуковые шторы</a></li>
						<li><a href="#">Антимоскитные сетки</a></li>
						<li><a href="#">Ролеты защитные</a> </li>
						<li><a href="#">Окна и двери ПВХ</a></li>
				</ul>
			</div>
			<div class="main_prod">
				<h5>Продукция</h5>
				<div class="title">
					Мы предлагаем изготовление и установку разных видов жалюзи, защитных роллетов, гаражных ворот, москитных сеток, окон и дверей ПВХ, рефлексороллов, маркизов, ремонт жалюзи.
				</div>
				<div class="wrap_card">
					<div class="card">
						<a href="production_l2.html">
							<div class="black_bg">
								<img id="img"  src="../image/rol_shtoru/ymukm40.jpeg" alt="">
							</div>
							
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Роловые шторы
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/gorizont/xe7d1FU.jpeg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Горизонтальные жалюзи
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/vertical/GuufvFe.jpeg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Вертикальные жалюзи
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/plisse/pDBHKIn.jpeg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Плиссе
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rimskie/450877.jpeg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Римские шторы
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/bamb/maitvCk.jpeg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Бамбуковые шторы
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/anti_mos/kAaHDdV.jpeg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Антимоскитные сетки
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rolletu/Di08GnD0Xp0.jpg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Ролеты защитные
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/okna_dveri/JdCl7BW3a40.jpg" alt="">
							</div>
							<div class="bottom_wrap">
								<img src="../image/rolls-01.svg" alt="">
								Окна и двери ПВХ
							</div>
						</a>
					</div>
				</div>
				<div class="remont_prod">
					<img src="../image/remont_prod.png" alt="">

					<div class="text">
						<div class="text_title">
							Ремонт жалюзи всех видов, замена деталей
						</div>
						<div class="text_text">
							Наши специалисты профессионально и оперативно подберут все необходимые детали и выполнят ремонт жалюзи любой сложности. 
						</div>
						<div class="text_rem">
							Нужен ремонт жалюзи? Звоните нам и мы поможем!
						</div>
						<div class="text_contact">
							(0472) 382-117    (067) 239-6114    (093) 336-5793 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap_prod">
			<div class="nav_left">
				<h4>Продукция</h4>
				<ul class="nav_item">	
						<li><a href="production_l2.html">Роловые шторы</a></li>
						<li><a href="#">Горизонтальные жалюзи</a></li>
						<li><a href="#">Вертикальные жалюзи</a></li>
						<li><a href="#">Плиссе</a></li>
						<li><a href="#">Римские шторы </a></li>
						<li><a href="#">Бамбуковые шторы</a></li>
						<li><a href="#">Антимоскитные сетки</a></li>
						<li><a href="#">Ролеты защитные</a> </li>
						<li><a href="#">Окна и двери ПВХ</a></li>
				</ul>
			</div>
			<div class="main_prod">
				<h5>Горизонтальные жалюзи</h5>
				<div class="title">
					Традиційно горизонтальні жалюзі обирають при оформленні офісних та виробничих приміщень. Але поява різноманітної кольорової палітри дозволяє підібрати алюміневі жалюзі, які ідеально доповнять будь-який інтер‘єр.
				</div>
				<div class="wrap_card">
					<div class="card">
						<a href="production_l2.html">
							<div class="black_bg">
								<img id="img"  src="../image/gorizont/1K3Komv.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/gorizont/1K3Komv.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/gorizont/1K3Komv.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/gorizont/1K3Komv.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/gorizont/1K3Komv.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/gorizont/1K3Komv.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/gorizont/1K3Komv.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/gorizont/1K3Komv.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/gorizont/1K3Komv.jpeg" alt="">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap_prod">
			<div class="nav_left">
				<h4>Продукция</h4>
				<ul class="nav_item">	
						<li><a href="production_l2.html">Роловые шторы</a></li>
						<li><a href="#">Горизонтальные жалюзи</a></li>
						<li><a href="#">Вертикальные жалюзи</a></li>
						<li><a href="#">Плиссе</a></li>
						<li><a href="#">Римские шторы </a></li>
						<li><a href="#">Бамбуковые шторы</a></li>
						<li><a href="#">Антимоскитные сетки</a></li>
						<li><a href="#">Ролеты защитные</a> </li>
						<li><a href="#">Окна и двери ПВХ</a></li>
				</ul>
			</div>
			<div class="main_prod">
				<h5>Вертикальні жалюзі</h5>
				<div class="title">
					У наявності є різна ширина ламелей: 127 мм (5 дюймів) і 89 мм (3,5 дюйма) <br><br>
					Переваги вертикальних жалюзі:
				<ul>
					<li>- виглядають затишно,</li>
					<li>- плавне регулювання світлового потоку,</li>
					<li>- різноманітний вибір матеріалів: від легкої прозорості до непроникності портьєри,</li>
					<li>- можливе повне, або часткове відкриття та вивільнення вікон,</li>
					<li>- тканини мають антистатичні та пилонепроникні властивості,</li>
					<li>- зі можуть заповнювати великі віконні, або дверні отвори: ширина до 5,8 м, висота – не обмежується,</li>
					<li>- великий вибір кольорів та фактури тканин.</li>
				</ul>
				</div>
				<div class="wrap_card">
					<div class="card">
						<a href="production_l2.html">
							<div class="black_bg">
								<img id="img"  src="../image/vertical/9WPiIKY.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/vertical/AasvNID.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/vertical/CWk9tF2.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/vertical/e4DUh9p.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/vertical/ecsys5o.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/vertical/GuufvFe.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/vertical/k2WmtE6.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/vertical/VNqoSpk.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/vertical/Mkx9YOq.jpeg" alt="">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap_prod">
			<div class="nav_left">
				<h4>Продукция</h4>
				<ul class="nav_item">	
						<li><a href="production_l2.html">Роловые шторы</a></li>
						<li><a href="#">Горизонтальные жалюзи</a></li>
						<li><a href="#">Вертикальные жалюзи</a></li>
						<li><a href="#">Плиссе</a></li>
						<li><a href="#">Римские шторы </a></li>
						<li><a href="#">Бамбуковые шторы</a></li>
						<li><a href="#">Антимоскитные сетки</a></li>
						<li><a href="#">Ролеты защитные</a> </li>
						<li><a href="#">Окна и двери ПВХ</a></li>
				</ul>
			</div>
			<div class="main_prod">
				<h5>Пліссе</h5>
				<div class="title">
					<p>
						Штори плісе – вдалий вибір для вікон з нестандартними формами та розмірами. Придбати сонцезахисні системи для таких вікон може бути проблематично, а штори плісе допоможуть закрити найбільші віконні отвори. Також немає труднощів із встановленням жалюзі на різних віконних поверхнях, які мають нахил – мансардне вікно чи частина скляного даху.
					</p>
					<p>
						Від назви можна зрозуміти, що тканина плісирована. При піднятті ті опусканні жалюзі плісе тканина складається в спеціальні складки.
					</p>
				</div>
				<div class="wrap_card">
					<div class="card">
						<a href="production_l2.html">
							<div class="black_bg">
								<img id="img"  src="../image/plisse/bqvIaNH.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/plisse/FSKqJ8a.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/plisse/pDBHKIn.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/plisse/TxqMziS.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/plisse/zjohNTz.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/plisse/bqvIaNH.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/plisse/bqvIaNH.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/plisse/bqvIaNH.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/plisse/bqvIaNH.jpeg" alt="">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap_prod">
			<div class="nav_left">
				<h4>Продукция</h4>
				<ul class="nav_item">	
						<li><a href="production_l2.html">Роловые шторы</a></li>
						<li><a href="#">Горизонтальные жалюзи</a></li>
						<li><a href="#">Вертикальные жалюзи</a></li>
						<li><a href="#">Плиссе</a></li>
						<li><a href="#">Римские шторы </a></li>
						<li><a href="#">Бамбуковые шторы</a></li>
						<li><a href="#">Антимоскитные сетки</a></li>
						<li><a href="#">Ролеты защитные</a> </li>
						<li><a href="#">Окна и двери ПВХ</a></li>
				</ul>
			</div>
			<div class="main_prod">
				<h5>Римські штори</h5>
				<div class="title">
					<p>
						Римські штори – унікальна річ, яка втілює у собі лаконізм, мінімально можливі витрати тканин з відмінними функціональними характеристиками. Римські штори – оптимальне та стильне рішення захисту приміщення від сонячних променів, сторонніх поглядів з вулиці. 
					</p>
					<p>
						Римська штора складається з ряду сегментів із тканини, яка являє собою щільний екран; коли штора піднімається вверх, сегменти тканини складаються у горизонтальні смуги, які групуються у верхній частині вікна. Механізми, що використовуються для римських штор, відрізняються надійністю та довговічністю.
					</p>
 					<p>
 						Римські штори виготовляються із різних видів тканин, що дозволяє зробити вашу оселю стильною та неповторною.
 					</p>
				</div>
				<div class="wrap_card">
					<div class="card">
						<a href="production_l2.html">
							<div class="black_bg">
								<img id="img"  src="../image/rimskie/05.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rimskie/450877.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rimskie/75874.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rimskie/алле.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rimskie/05.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rimskie/05.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rimskie/05.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rimskie/05.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rimskie/05.jpg" alt="">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap_prod">
			<div class="nav_left">
				<h4>Продукция</h4>
				<ul class="nav_item">	
						<li><a href="production_l2.html">Роловые шторы</a></li>
						<li><a href="#">Горизонтальные жалюзи</a></li>
						<li><a href="#">Вертикальные жалюзи</a></li>
						<li><a href="#">Плиссе</a></li>
						<li><a href="#">Римские шторы </a></li>
						<li><a href="#">Бамбуковые шторы</a></li>
						<li><a href="#">Антимоскитные сетки</a></li>
						<li><a href="#">Ролеты защитные</a> </li>
						<li><a href="#">Окна и двери ПВХ</a></li>
				</ul>
			</div>
			<div class="main_prod">
				<h5>Бамбукові штори</h5>
				<div class="title">
					<p>
						Бамбукові штори – це цільне полотно, сплетене різними способами з бамбукового очерету, джутової соломки, льону, всі тканини натуральні.
					</p>
					<p>
						Підйом полотна відбувається за допомогою шнура (механізм розташований ліворуч або праворуч від штори). Ця техніка управління має два види: рулонна та римська. Мінус бамбукових ролет - вони пропускають світло.
					</p>
					<p>
						Бамбуковий варіант декора вікна довговічний і практичний завдяки вологостійкості й міцності, він екзотично декорує приміщення.
					</p>
				</div>
				<div class="wrap_card">
					<div class="card">
						<a href="production_l2.html">
							<div class="black_bg">
								<img id="img"  src="../image/bamb/Hgn1JNi.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/bamb/maitvCk.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/bamb/Изображение 003.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/bamb/Изображение 005.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/bamb/Изображение 009.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/bamb/Изображение 013.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/bamb/Hgn1JNi.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/bamb/Hgn1JNi.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/bamb/Hgn1JNi.jpeg" alt="">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap_prod">
			<div class="nav_left">
				<h4>Продукция</h4>
				<ul class="nav_item">	
						<li><a href="production_l2.html">Роловые шторы</a></li>
						<li><a href="#">Горизонтальные жалюзи</a></li>
						<li><a href="#">Вертикальные жалюзи</a></li>
						<li><a href="#">Плиссе</a></li>
						<li><a href="#">Римские шторы </a></li>
						<li><a href="#">Бамбуковые шторы</a></li>
						<li><a href="#">Антимоскитные сетки</a></li>
						<li><a href="#">Ролеты защитные</a> </li>
						<li><a href="#">Окна и двери ПВХ</a></li>
				</ul>
			</div>
			<div class="main_prod">
				<h5>Антимоскитные сетки</h5>
				<div class="title">
					<p>
						NONE TEXT
 					</p>
				</div>
				<div class="wrap_card">
					<div class="card">
						<a href="production_l2.html">
							<div class="black_bg">
								<img id="img"  src="../image/anti_mos/IMG_2396.JPG" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/anti_mos/IMG_2397.JPG" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/anti_mos/IMG_2402.JPG" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/anti_mos/kAaHDdV.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/anti_mos/moskitnaya-setka_1.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/anti_mos/moskitnaya-setka_1.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/anti_mos/sBN8HzM.jpeg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/anti_mos/IMG_2396.JPG" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/anti_mos/IMG_2396.JPG" alt="">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap_prod">
			<div class="nav_left">
				<h4>Продукция</h4>
				<ul class="nav_item">	
						<li><a href="production_l2.html">Роловые шторы</a></li>
						<li><a href="#">Горизонтальные жалюзи</a></li>
						<li><a href="#">Вертикальные жалюзи</a></li>
						<li><a href="#">Плиссе</a></li>
						<li><a href="#">Римские шторы </a></li>
						<li><a href="#">Бамбуковые шторы</a></li>
						<li><a href="#">Антимоскитные сетки</a></li>
						<li><a href="#">Ролеты защитные</a> </li>
						<li><a href="#">Окна и двери ПВХ</a></li>
				</ul>
			</div>
			<div class="main_prod">
				<h5>Ролеты защитные</h5>
				<div class="title">
					<p>
						В противовес железным решеткам на окнах, нарушающим эстетичность восприятия внешнего вида всего строения, защитные роллеты – перфорированные рольставни, идеально вписываются в общее архитектурное решение, идеально дополняя его.
 					</p>
				</div>
				<div class="wrap_card">
					<div class="card">
						<a href="production_l2.html">
							<div class="black_bg">
								<img id="img"  src="../image/rolletu/4FaN3YD5FCU.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rolletu/Di08GnD0Xp0.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rolletu/r7_XyZgzuDA.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rolletu/4FaN3YD5FCU.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rolletu/4FaN3YD5FCU.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rolletu/4FaN3YD5FCU.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rolletu/4FaN3YD5FCU.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rolletu/4FaN3YD5FCU.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/rolletu/4FaN3YD5FCU.jpg" alt="">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap_prod">
			<div class="nav_left">
				<h4>Продукция</h4>
				<ul class="nav_item">	
						<li><a href="production_l2.html">Роловые шторы</a></li>
						<li><a href="#">Горизонтальные жалюзи</a></li>
						<li><a href="#">Вертикальные жалюзи</a></li>
						<li><a href="#">Плиссе</a></li>
						<li><a href="#">Римские шторы </a></li>
						<li><a href="#">Бамбуковые шторы</a></li>
						<li><a href="#">Антимоскитные сетки</a></li>
						<li><a href="#">Ролеты защитные</a> </li>
						<li><a href="#">Окна и двери ПВХ</a></li>
				</ul>
			</div>
			<div class="main_prod">
				<h5>Окна и двери ПВХ</h5>
				<div class="title">
					<p>
						NONE TEXT
 					</p>
				</div>
				<div class="wrap_card">
					<div class="card">
						<a href="production_l2.html">
							<div class="black_bg">
								<img id="img"  src="../image/okna_dveri/2ph-DQDm6bE.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/okna_dveri/G6CLgT2asxM.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/okna_dveri/JdCl7BW3a40.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/okna_dveri/lehQBpbLsNo.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/okna_dveri/2ph-DQDm6bE.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/okna_dveri/2ph-DQDm6bE.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/okna_dveri/2ph-DQDm6bE.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/okna_dveri/2ph-DQDm6bE.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="card">
						<a href="#">
							<div class="black_bg">
								<img id="img" src="../image/okna_dveri/2ph-DQDm6bE.jpg" alt="">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>