@media only screen and (max-width: 600px) {

} 

@media only screen and (max-width: 600px) {

} 

@media only screen and (max-width: 768px) {
 .nav_container{
 	display: none;
 }
} 

@media only screen and (max-width: 992px) {
	.none_menu{
		display: block;
		margin-right: 20px;
		font-size: 20px;
	}
	.phone, .viber, .location, .mail, .vk, .fb{
		display: none;
	}
	.production-news{
		flex-direction: column;

	}
} 

@media only screen and (max-width: 1200px) {
	.phone, .viber, .location, .mail, .vk, .fb {
		margin-right: 10px;
	}
}